<h1>COURSES!!!</h1>

<ul>
  <% @courses.each do |course| %>
    <li>
      <%= link_to(course.name, course) %> - <%= course.description %>
    </li>
  <% end %>
</ul>

<%= link_to('Create a Course', new_course_path) %>
